<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jpinkidu.learningmath" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdditionMagic"
            android:label="@string/title_activity_addition_magic"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jpinkidu.learningmath.MainActivity" />
        </activity>
        <activity
            android:name=".SubtractionMagic"
            android:label="@string/title_activity_subtraction"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jpinkidu.learningmath.MainActivity" />
        </activity>
        <activity
            android:name=".MultiplicationMagic"
            android:label="@string/title_activity_multiplication_magic"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jpinkidu.learningmath.MainActivity" />
        </activity>
        <activity
            android:name=".DivisionMagic"
            android:label="@string/title_activity_division_magic"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jpinkidu.learningmath.MainActivity" />
        </activity>
        <activity
            android:name=".TestAddMagic"
            android:label="@string/title_activity_test_add_magic"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jpinkidu.learningmath.MainActivity" />
        </activity>
        <activity
            android:name=".TestResult"
            android:label="@string/title_activity_test_result"
            android:parentActivityName=".TestAddMagic" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jpinkidu.learningmath.TestAddMagic" />
        </activity>
    </application>

</manifest>
